* {
  margin: 0 auto;
  transition: 0.2s;
}

body {
  background-color: #282a36;
}

.content {
  text-align: center;
}

h1 {
  text-align: center;
  color: #ff5555;
  font-size: 60px;
  margin-bottom: 10px;
  
}

.list {
  display: inline-block;
  text-align: left;
  font-size: 30px;
}

hr {
  height: 1px;
  border-color: dimgray;
  background-color: dimgray;
}

ul li {
  color: azure;
  list-style: decimal-leading-zero;
  margin: 10px;
}

ul li a {
  text-decoration: none;
  color: darksalmon;
}

ul li a strong {
  text-decoration: none;
  color: #ff99ff;
}

ul li:hover {
  color: #f1fa8c;
  text-decoration: underline;
}
ul li a:hover {
  color: #f1fa8c;
  text-decoration: underline;
}

ul li a strong:hover {
  color: #f1fa8c;
  text-decoration: underline;
}
